*{
	margin:0;
	padding:0;
}
.wrepper{
	width:90%;
	max-width:100px;
	margin:auto;
	overflow:hidden;
}
#tituloclickuno{
	font-size:100px;
	font-family: arial;
	float: left;
	width:100%;
	border:3px solid black;
	margin-bottom:0px;
	margin-top:0px;
	line-height:100px;
	
}

header nav{
	float:right;
	line-height:100px;
}

header{
	width:100%;
	overflow:hidden;
	margin:bottom;
}
header nav a{
	display:inline-block;
	padding:10px;
	font-size:20px;
	line-height:normal;
	text-decoration:none;
	transition:all 500m ease;
	color: black;
	border-radius:50px;
}

header nav a:hover{
	background: #f56f3a
}

header: nav a:hover{
	background:#f56f3a;
}


#mapa{
	text-align: center;
	background: #d8e2e9;
	margin-bottom:50px;
	margin-top:10px;
	padding:5px;
	
}

#cuerpotres{
	text-align: center;
}

#asideleft{
	font-size: 17px;
	font-family: arial;
    width:60%;
    background: green;
}
