{% extends 'layout1.html' %} {% block title %}Perfil | Click{% endblock %} {% block content %}
<h1>Perfil</h1>
<div>
    <p>Los datos de tu cuenta se encuentran debajo:</p>
    <table>
        <tr>
            <td>Nombre:</td>
            <td>{{ datos['Nombre'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ datos['Email'] }}</td>
        </tr>
        <tr>
            <td>Contraseña:</td>
            <td>{{ datos['Contraseña'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}
