*{
	margin: 0;
	padding:0;
	box-sizing: border-box;

}

body {
	background-image: url('Fond2.jpg');
}

.form-register{
	width:400px;
	background: #8BB0EC;
	padding: 30px;
	margin: auto;
	margin-top: 100px;
	border-radius:4px;
	font-family: verdana;
	box-shadow: 7px 13px 37px #000;
	
}

.form-register h4{
	font-size:22px;
	margin-bottom:20px;
}
 .controls{
	 width: 100%;
	 padding: 10px;
	 border-radius:4px;
	 margin-bottom:16px;
	 border: 1px solid black;
	 front-family: calibri;
	 font-size:18px;
 }
 .form-register p{
	 height:40px;
	 text-align: center;
	 font-size:18 px;
	 
 }
 .form-register a{
	 color: white;
	 text-decoration:none;
	 
 }
  .form-register a:hover{
	 color: white;
	 text-decoration:underline;
}
.form-register .botones{
	font-family: verdana;
	width: 100%;
	background: #1f53c5;
	border:none;
	padding:12px;
	color: white;
	margin: 16px 0;
	font-size:16px;
}
 
 
